@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

.titulo {
  @include screen(mobile-xs) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
  }
  @include screen(tablet) {
  }
}

.texto {
  @include screen(mobile-xs) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  @include screen(tablet) {
  }
}

.txtBtn {
  @include screen(mobile-xs) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
  }
  @include screen(tablet) {
  }
}

.txtBtn-bold {
  @include screen(mobile-xs) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    //text-transform: capitalize;
  }
  @include screen(tablet) {
  }
}

.desktop {
  @include screen(mobile-xs) {
    display: none;
  }
  @include screen(tablet) {
    display: block;
  }
}

.mobile {
  @include screen(mobile-xs) {
    display: block;
  }
  @include screen(tablet) {
    display: none;
  }
}
